<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/main.css" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

    <title>Portfolio</title>
  </head>

  <body>
    <div class="frame">
      <div class="main_frame">
        <div class="left_frame">
          <div class="left_1">
            <div class="left_1-1">
              <img
                src="images/profile.png.jpg"
                width="156px"
                height="142px"
                alt=""
              />
            </div>
            <div class="left_1-2"><%=user.name%></div>
            <div class="left_1-3"><%=user.profession%></div>
            <div class="left-icons">
              <a class="link_href" href="">
                <!-- <div class="icon">
                  <img src="icon/Vector.svg.png" class="icon-1" />
                </div> -->
              </a>
              <a class="link_href" href="">
                <div class="icon">
                  <img src="icon/Vector-1.svg.png" class="icon-1" />
                </div>
              </a>
              <a class="link_href" href="">
                <div class="icon">
                  <img src="icon/Vector-2.svg.png" class="icon-1" />
                </div>
              </a>
              <a class="link_href" href="">
                <div class="icon">
                  <img src="icon/Vector-3.svg.png" class="icon-1" />
                </div>
              </a>
              <a class="link_href" href="">
                <div class="icon">
                  <img src="icon/Vector-4.svg.png" class="icon-1" />
                </div>
                <a class="link_href" href="">
                <div class="icon">
                  <img src="icon/Vector-5.svg.png" class="icon-1" />
                </div>
                <a class="link_href" href="">
                <div class="icon">
                  <img src="icon/Vector-6.svg.png" class="icon-1" />
                </div>
              </a>
            </div>
          </div>
          <!-- <div class="marginer"></div>
          <div class="left_2"></div>
          <div class="marginer"></div>
          <div class="left_3"></div>
          <div class="marginer"></div>
          <div class="left_4"></div>
          <div class="marginer"></div>
          <div class="left_5"></div>
          <div class="marginer"></div> -->
        <!-- </div>
        </div></div> -->
          <div class="midd_frame">
            <div class="hero">
               <div class="midd_contact">
              <h2 class="midd_contand">Doctor neurologists
in OHSU Hospital</h2> 
<p class="midd_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et, volutpat feugiat placerat lobortis. Natoque rutrum semper sed suspendisse nunc lectus.</p>
<a class="midd_link" href="#">Her Me</a>
            
               </div>
            </div>            
          </div>
  </body>
</html>